<div class="bg-white shadow-lg rounded-lg p-6 sticky top-8">

  <h2 class="text-xl font-semibold text-green-primary border-b border-gray-200 pb-2 mb-4">
    Imagens do produto
  </h2>

  <div class="flex flex-col md:flex-row gap-4">

    <div class="flex-1">
      <label for="main-foto-input" class="block text-sm font-medium text-gray-700 mb-1">
        Imagem Principal *
      </label>
      <div class="flex items-center justify-center w-full">
        
        <input id="main-foto-input" type="file" class="hidden" 
               (change)="onImagemPrincipalSelected($event)" accept="image/*" />
        
        <label for="main-foto-input" class="{{uploadImage}}">

          @if (!mainImagePreview) {
            <div class="flex flex-col items-center justify-center text-body pt-5 pb-6">
              <i class="fa-solid fa-cloud-arrow-up text-4xl mb-4 text-green-primary"></i>
              <p class="mb-2 text-sm text-center">Clique para fazer o upload da imagem principal</p>
              <p class="text-xs">SVG, PNG, ou JPG</p>
            </div>
          } @else {
            <img [src]="mainImagePreview" alt="Pré-visualização" 
                 class="absolute inset-0 w-full h-full object-cover rounded-xl" />
            <button (click)="clearImagemPrincipal($event)"
                        class="absolute -top-2 -right-2 z-20 bg-red-600 text-white rounded-full h-6 w-6 flex items-center justify-center text-sm font-bold">
                  X
            </button>
          }

        </label>
      </div>
    </div>

    <div class="flex-1">
      <label for="fotos" class="block text-sm font-medium text-gray-700 mb-1">
        Adicionais (até 4)
      </label>
      <div class="gap-2 grid grid-cols-2">

        @for (preview of additionalImagePreviews; track $index) {
          <div class="flex items-center justify-center w-full">
            
            <input id="add-foto-input-{{$index}}" type="file" class="hidden" 
                   (change)="onImagemAdicionalSelected($event, $index)" accept="image/*" />
            
            <label for="add-foto-input-{{$index}}" class="{{uploadImageAdicional}}">
              
              @if (!preview) {
                <div class="flex flex-col items-center justify-center text-body">
                  <i class="fa-solid fa-plus text-4xl text-green-primary"></i>
                </div>
              } @else {
                <img [src]="preview" alt="Preview {{$index + 1}}" 
                     class="absolute inset-0 w-full h-full object-cover rounded-xl" />
                
                <button (click)="clearAdditionalImage($index, $event)"
                        class="absolute -top-2 -right-2 z-20 bg-red-600 text-white rounded-full h-6 w-6 flex items-center justify-center text-sm font-bold">
                  X
                </button>
              }

            </label>
          </div>
        }

      </div>
    </div>
  </div>

</div>