<nav class=" border-gray-200 bg-green-primary">
  <div class="max-w-7xl p-4 mx-auto flex items-center justify-between gap-6">
    <div class="flex gap-3 items-center space-x-3">
      <img src="/assets/logo.png" alt="Hortlink Logo" class="h-8">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">HortLink</span>
    </div>

    <!-- <button
        class="text-[#2E7D32] border-2 border-[#2E7D32] bg-[#e8f5e8] hover:bg-[#2E7D32] hover:text-white font-medium rounded-full text-sm px-4 py-1 transition-colors duration-200">
        <i class="fas fa-filter"></i>
        Filtros
      </button> -->
    <form class="relative flex items-center w-full max-w-lg mx-auto">
      <!-- ÍCONE -->
      <div class="absolute inset-y-0 left-3 flex items-center pointer-events-none">
        <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </div>

      <!-- INPUT -->
      <input type="search" id="default-search"
        class="block w-full pl-10 pr-24 py-2 text-sm text-gray-900 border border-gray-300 rounded-full bg-green-50 focus:ring-[#2E7D32] focus:border-[#2E7D32] placeholder-gray-500"
        placeholder="Buscar produtos, produtores..." required />

      <!-- BOTÃO -->
      <button type="submit"
        class="absolute right-2 top-1/2 -translate-y-1/2 text-white border-2 border-blue-secundary bg-blue-primary hover:bg-blue-hover font-medium rounded-full text-sm px-4 py-1 transition-colors duration-200">
        Buscar
      </button>

    </form>

    <div class="flex items-center space-x-3">
      <button class="max-w-10 max-h-10 relative" routerLink="/carrinho" routerLinkActive="active"> 
      <i class="fas fa-cart-shopping text-white text-xl"></i>

        @if (quantidadeCarrinho > 0) {
          <span class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-red-600 text-white text-xs font-bold px-2 py-0.5 rounded-full border-2 border-white">
            {{ quantidadeCarrinho }}
          </span>
        }
      </button>
    <button class="flex text-sm rounded-full focus:ring-4 focus:ring-green-light md:me-0" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <img class="w-10 h-10 rounded-full" src="/assets/perfil_not_found.png" alt="user photo">
      </button>
      <div id="user-dropdown" class="z-50 hidden my-4 text-base list-none bg-gray-600 rounded-lg shadow-sm">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-200">{{ nomeUsuario }}</span>
          <span class="block text-sm truncate text-gray-400">{{ emailUsuario }}</span>  
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a routerLink="/area-vendedor"></a>
          </li>
          <li>
            <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-400 ">Sair</a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</nav>