<app-navbar></app-navbar>

<main class="bg-green-secundary">

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    @if(usuarioLogado?.cadastroIncompleto) {
      <div class="bg-yellow-100 text-yellow-800 p-4 rounded-md mt-4 text-md">
      <strong>⚠️ Seu cadastro está incompleto.</strong>  
      Finalize seu cadastro para liberar todas as funcionalidades.
    </div>
    }

    <h2 class="text-4xl text-green-light font-semibold my-10">Produtos em destaque</h2>

    <div class="grid grid-cols-4 gap-8">
      @for (produto of produtos; track $index) {
      <div class="bg-white shadow-lg overflow-hidden rounded-3xl">
        <div class="h-48">
          <img [src]="produto.imageUrl" class="w-full h-full object-cover" alt="Produto">
        </div>
        <div class="p-4">
          <h3 class="font-medium text-lg">{{produto.nome}}</h3>
          <p class="text-md py-2 font-medium">
            {{produto.nomeComercio}}

            @if (produto.tipoVendedor === 'Comercio') {
            <i class="text-xl pl-4 text-green-primary fas fa-store"></i>
            } @else if (produto.tipoVendedor === 'Produtor') {
            <svg-farmer class="pl-4"></svg-farmer>
            }
          </p>
          <p class="font-medium text-lg text-green-primary">R${{produto.valor}} /{{produto.unidadeMedida}}</p>

          @if (produto.promocao != "") {
          <p class="font-medium text-sm text-amber-400">R${{produto.promocao}} /{{produto.unidadeMedida}}</p>
          } @else {
            &nbsp;
          }

          <button (click)="adicionarAoCarrinho(produto)"
            class="mt-4 w-full text-white bg-blue-primary hover:bg-blue-hover focus:ring-4 focus:outline-nones font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Adicionar ao carrinho
            <i class="fas fa-cart-shopping text-white"></i>
          </button>
        </div>
      </div>
      }

    </div>

    <div class="pb-10"></div>

  </div>
</main>


<app-footer></app-footer>