* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-shadow: none;
}

.App {
  transition: 0.2s linear;
  font-family: "Poppins", sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background-size: cover;
  background-position: center;
}