/* Note que o caminho da URL é relativo ao arquivo CSS/SCSS */
.register-background {
    background-image: url('../../../assets/bgRegistreHortLink.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}